name: Copilot Usage Report
on:
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: austenstone/copilot-usage@v5.2
        with:
          github-token: ${{ secrets.COPILOT }}
          organization: 'Solorios'
          csv: true

      - uses: austenstone/job-summary@v2.0
        with:
          name: copilot-usage-report
          pdf: false  # Evita Puppeteer

      - name: Instalar Pandoc
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc texlive-xetex

      - name: Convertir Markdown a PDF
        run: pandoc copilot-usage-report.md -o copilot-usage-report.pdf

      - uses: actions/upload-artifact@v4
        with:
          name: copilot-usage-report
